Temp/
Library/
*.apk

*.csproj
*.unityproj
*.userprefs
*.sln
/ARLibrary.CSharp.Editor.Plugins.csproj
/ARLibrary.CSharp.Plugins.csproj
/ARLibrary.sln
/ARLibrary.userprefs
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/README.md
/ARLibrary.CSharp.csproj
/ARLibrary.CSharp.Editor.csproj
/.vs
/QCAR
/obj
*.obb
AssetBundles/
/Assets/Resources/Internal/Images/Loading.meta
/XCode